<!DOCTYPE HTML>
<html>
  <head>
    <title>Alex</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>NodeJS综合应用</h1>
    <p>这是 <%= myname %>的示例应用</p>
    <p>当前时间：<%= currentTime %></p>
  </body>
</html>
